// Header
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    color: white;

    &.scrolled {
        background: $gradient-purple;
        box-shadow: $dropshadow;
    }

    .container {
        display: flex;
        flex: wrap;
        align-items: center;
    }

    .svg-icon {
        margin: 0 10px 0 0;
    }

    .nav {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            padding: 20px 0;
            margin: 0;
        }

        a {
            font-style: $font-family-accent;
            font-weight: bold;
            font-size: 1.2em;
            color: white;
            text-decoration: none;
            padding: 10px 0;
            margin: 0 20px;
            position: relative;
            display: inline-block;

            // underline after element for hover that animates out
            &:after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 100%;
                height: 3px;
                background: white;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 0.3s ease-in-out;
            }

            &[aria-current="page"] {
                &:after {
                    background: $yellow;
                    transform: scaleX(1);
                }
            }

            &:hover {
                &:after {
                    transform: scaleX(1);
                }
            }
        }

        &.collapsed {
            display: none;
        }
    }

    @media screen and (max-width: 768px) {
        .container {
            flex-direction: column;
        }

        .top-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .svg-icon {
            margin: 10px 0 0 0;
        }

        .nav {
            background-color: $purple;
            border-radius: $corners;
            align-self: flex-end;

            ul {
                flex-direction: column;
                align-items: center;
                padding: 20px;
                margin: 0;
            }

            a {
                margin: 0;
                padding: 10px 40px;

                &:after {
                    display: none;
                }

                &[aria-current="page"] {
                    color: $yellow;
                }
            }
        }
    }
}

// Footer
footer {
    background: $grey-dark;
    color: white;

    .container {
        padding: 60px 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-toggle {
        margin-bottom: 40px;
    }

    h2 {
        margin-bottom: 12px;
        text-align: center;
    }



    .social-links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 30px 0;
        list-style: none;
        padding: 0;
        margin: 0;

        a {
            margin: 0 10px;
            padding: 10px;
            color: white;
            text-decoration: none;
            font-size: 1.5em;
            transition: all 0.3s ease-in-out;
            display: inline-block;

            &:hover {
                color: $yellow;
                transform: scale(1.2);
            }
        }


    }
}

// Hero section
.hero {
    padding: 160px 0 120px 0;
    background: $gradient-purple;
    color: white;
    position: relative;
    z-index: 1;

    &:before,
    &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 40%;
        height: 40%;
        background-image: url('../images/bck-corner.png');
        z-index: 1;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &:after {
        top: auto;
        bottom: 0;
        left: auto;
        right: 0;
        transform: rotate(180deg);
    }
}

.home {
    .hero {
        .container {
            display: grid;
            grid-template-columns: 130px auto;
            grid-gap: 40px;
            z-index: 2;
            align-items: center;
        }

        svg {
            margin: 0 5px 0 0;
        }

        .gatsby-image-wrapper {
            max-width: 100%;
            height: auto;

            img {
                height: auto;
            }
        }

        h1 {
            font-size: 32px;
            line-height: 1;
            margin-bottom: 0;
        }
    }
}

.post,
.page {
    .hero {
        padding: 100px 0 80px 0;
    }

    .back-button {
        margin-bottom: 20px;
    }
}

.card-page {
    .main-container {
        margin-top: -40px;
    }

    .card {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: -40px;
        }
    }
}

.container {
    position: relative;
    max-width: 730px;
    margin: 0 auto;
    z-index: 2;
}

.sub-header {
    font-style: italic;
    margin-top: 0;
}

// post

.post {
    .content {
        max-width: 730px;
        margin: 0 auto;

        .container {
            background: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease-in-out;
            margin: -60px 0 -40px;
            max-width: auto;
            padding: 40px;
            z-index: 2;
        }

        p {
            margin-top: 0;
        }
    }
}

// cards

.card-container {
    position: relative;
    margin-top: -60px;
    margin-bottom: -40px;
    z-index: 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}

.pill-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 14px;
}

.skill-container {
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 14px;

    h4 {
        display: inline-block;
        margin-right: 14px;
    }
}

@media screen and (max-width: 730px) {
    .home {
        .hero {
            .container {
                grid-template-columns: 1fr;
                grid-gap: 20px;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
    }

    .card-container {
        grid-template-columns: 1fr;

        h3,
        h4 {
            text-align: center;
        }

        h4 {
            margin-bottom: 0;
        }

        .card,
        .card-full,
        .card-half,
        .card.has-icon {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "image"
                "content"
                "expand-bar";
            align-items: center;
            justify-items: center;
        }

        .skill-container {
            grid-template-columns: 1fr;
        }

        .pill-container {
            justify-content: center;
        }
    }

    .container {
        margin: 0 20px;
    }
}

.post-meta {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-row-gap: 14px;
    align-items: center;

    @media screen and (max-width: 730px) {
        grid-template-columns: 1fr;
        grid-row-gap: 8px;
    }
}

.related-posts {
    margin-top: 40px;

    h3 {
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    a {
        display: inline-block;
        text-decoration: none;
        color: black;
        padding: 8px;
        margin: 0 -8px;
        border-radius: $corners;
        transition: all 0.3s ease-in-out;


        &:hover {
            box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
            transform: scale(1.02);
        }
    }
}

main {
    .container {
        z-index: 3;
    }
}