@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Montserrat:wght@100;400;700&display=swap');

$font-family-accent: 'Montserrat', sans-serif;
$font-family-regular: 'Lato', sans-serif;

h1,
h2,
h3,
h4 {
    font-family: $font-family-accent;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 1.5rem 0;
    text-transform: capitalize;
}

body {
    font-family: $font-family-regular;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    margin: 0;
}