@import "./Variables.scss";
@import "./Mixins.scss";

h1, h2, h3, h4, h5, .heading {
    font-family: $font-headings;
}

body {
    font-family: $font-body;
    background: $black;
    color: $white;
    font-size: 18px;
}

a {
    color: $white;
    @extend .transition;
}