@import "./Variables.scss";

.transition {
    transition: 300ms ease-in-out all;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(255,255,255,0.1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(255,255,255,0.1);
    box-shadow: 0px 0px 6px 0px rgba(255,255,255,0.1);
}

.box-shadow-dark {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(60,60,60,0.1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(60,60,60,0.1);
    box-shadow: 0px 0px 6px 0px rgba(60,60,60,0.1);
}

.box-shadow-dark-hover {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(40,40,40,0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(40,40,40,0.2);
    box-shadow: 0px 0px 8px 0px rgba(40,40,40,0.2);
}

.btn {
    display: inline-block;
    padding: 8px 12px;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    border-radius: $border-radius;
    @extend .transition;
    
}

.btn-yellow {
    background-color: $yellow;
    color: $black;
    
    &:hover {
        background: $black;
        color: $white;
    }
}