@import "./Variables.scss";
@import "./Mixins.scss";

.page {
    max-width: 1024px;
    margin: 0 auto;
    padding: 14px 28px;
    border: 1px solid darken($black, 5);
    border-radius: 4px;
    @extend .box-shadow;

    p {
        line-height: 1.4;
    }
}

.page-research {
    .paper-card {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        align-items: center;
        padding: 14px 0;

        &:hover {
            background-color: darken($black, 5);
            transform: scale(1.01);
        }

        .year {
            font-family: $font-headings;
            font-size: 24px;
            font-weight: bold;
            display: inline-block;
            padding: 0 14px;
            align-self: baseline;
        }

        h3 {
            margin: 0;
            font-weight: normal;
        }

        p {
            margin: 0;
            color: $grey;
        }
    }
}

.back-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;

    &:before {
        content: "< ";
    }

    &:hover {
        transform: translate(-2px, 0);
    }
}

.page-home {
    display: flex;
    flex-wrap: wrap;
    .profile-image {
        border-radius: 100%;
        width: 100%;
        height: auto;
    }
    .left, .right {
        width: 100%;
    }
    @media screen and (min-width: 600px) {
        .left {
            width: 25%;
        }
        .right {
            width: 71%;
            padding: 0 0 0 2%;
        }        
    }
}