@import "./Variables.scss";
@import "./Mixins.scss";

.page {
    p {
        line-height: 1.4;
    }
}

.article {
    .content {
        // padding: 20px 0 40px;
    }

    .primary {
        background: white;
        color: $black;

        p {
            line-height: 1.6;
        }

        a:last-of-type {
            @extend .btn;
            @extend .btn-yellow;
        }
    }
}

.feature + .content {
    margin-top: -20px;
    position: relative;
}

.feature {
    position: relative;
    width: 100%;
    padding: 0 0 48px;
    padding-top: 100px;
    background: $purple-grad;

    &:before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../resources/images/bck-corner.png);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 0;
        max-width: 30%;
        width: 250px;
        height: 100%;
    }

    &:after {
        content: " ";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        background-image: url(../resources/images/bck-corner.png);
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(180deg);
        z-index: 0;
        max-width: 30%;
        width: 250px;
        height: 100%;
    }

    h1, h2 {
        color: $white;
    }


}

.content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 14px 28px;

    .card-container {
        display: flex;
        flex-wrap: wrap;

        &.two-col {
            justify-content: space-between;
            .card {
                width: 49%;
            }

            @media screen and (max-width: 800px) {
                .card {
                    width: 100%;
                }
            }
        }
    }
}

.page-research {
    .paper-card {
        
    }
}


.back-link {
    @extend .btn;    
    color: $black;
    font-size: 12px;

    &:before {
        content: "< ";
    }

    &:hover {
        transform: translate(-2px, 0);
        background: $white;
        color: $black;
    }
}

.page-home {
    display: flex;
    flex-wrap: wrap;

    .feature .content {
        display: flex;
        max-width: 800px;
    }

    .profile-image {
        border-radius: 100%;
        width: 100%;
        height: auto;
    }
    .left, .right {
        width: 100%;
    }

    .card {
        h3 {
            font-size: 32px;
            font-weight: bold;
        }
    }

    @media screen and (min-width: 600px) {
        .left {
            width: 25%;
        }
        .right {
            width: 71%;
            padding: 0 0 0 2%;
        }        
    }
}

.band {
    position: relative;

    .content {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }

    .year {
        font-family: $font-headings;
        font-weight: bold;
        width: 80px;
    }

    .authors {
        width: calc(100% - 80px);
    }

    &.band-dark {
        background: $dark-grey;
        color: $white;
    }
    
    &.band-light {
        background: $light-grey;
        color: $black;
    }
}