$font-headings: 'Poppins';
$font-body: 'Lato';

$font-size: 14px;
$black: rgb(16,20,24);
$white: rgb(235,235,235);
$grey: rgb(120, 120,120);
$pink: rgba(255,0,82,1);
$yellow: rgba(246,235,15,1);
$purple-grad: linear-gradient(116.82deg, #2A3274 0%, #242248 100%);
$dark-grey: rgba(40,40,40,1);
$light-grey: rgba(221,221,221,1);

$background: $light-grey;
$featured-bck: $purple-grad;
$font-color: $white;

$border-radius: 5px;