@import "./Variables.scss";
@import "./Mixins.scss";
@import url("https://pro.fontawesome.com/releases/v5.13.0/css/all.css");

h1, h2, h3, h4, h5, .heading {
    font-family: $font-headings;
    color: $black;
}

.heading-large {
    font-size: 32px;
}

body {
    font-family: $font-body;
    background: $light-grey;
    color: $white;
    font-size: 18px;
    margin: 0;
}

a {
    color: $black;
    @extend .transition;
}

.card {
    border-radius: $border-radius;
    background: white;
    margin-bottom: 14px;
    z-index: 1;
    @extend .box-shadow-dark;
    @extend .transition;

    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: flex-start;
    padding: 14px 0;
    position: relative;

    &.wip {
        * {
            opacity: 0.6;
        }
    }    

    &.has-learn-more {
        padding-bottom: 48px;
    }

    .card-image-container {
        width: 20%;
        height: auto;
        padding: 20px;
        border-radius: 100%;
        border: 2px solid $light-grey;
        margin: 0 14px;
    }

    .card-content {
        width: 80%;
        padding: 0 14px;
    }

    &:hover {
        transform: scale(1.01);
        @extend .box-shadow-dark-hover;
    }

    .year {
        font-family: $font-headings;
        font-size: 24px;
        font-weight: bold;
        display: inline-block;
        padding: 0 14px;
        align-self: baseline;
    }

    h3 {
        margin: 0;
        font-weight: normal;
    }

    p {
        margin: 0;
        color: $grey;
    }

    .learn-more {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 1px solid $light-grey;
        text-align: center;
        padding: 8px 14px;
        text-transform: uppercase;
        font-size: 12px;
        color: $grey;
    }
}